.DS_Store
._.DS_Store
screenlog.*
*.pyc
*.c
*.o
*.so
dev/
t/
figures/
dist/
build/
tests/data/*flat
tests/data/*gdx
tests/data/*.db
tests/data/*.2bit
tests/data/*.uni
*_OLD/
*_OLD
*.egg-info/
.pytest_*
__pycache__
